body {
  font-family: system-ui, sans-serif;
  text-align: justify;
  width: 96%;
  max-width: 600px;
  margin: 0 auto;
}

p {
  line-height: 1.5em;
  text-align: justify;
}

.image {
  text-align: center;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.header-text {
  color: rgb(82, 171, 144);
}

